@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: none;   
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background: url("../images/bg.jpg") no-repeat fixed top / cover;
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    line-height: 1.5rem;
    margin: 10px 0;
    text-align: justify;
}

a {
    color: #333;
    font-weight: bold;
}

a:hover {
    color: rgb(255, 106, 0);
    text-decoration: none;
}

input,
button {
    cursor:alias;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

h3 {
    color: rgb(255, 106, 0);
}

#cursor,
#cursor-outline {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

#cursor {
    height: 10px;
    width: 10px;
    background: rgb(255, 106, 0);
}

#cursor-outline {
    height: 25px;
    width: 25px;
    background: rgba(255, 106, 0, 0.5);
}

#fixedLeftNav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(35% - 100px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 100px);
}

/* Left column */


.fixedLeftNav-top {
    align-self: flex-start;
    padding: 30px 50px;
}

.fixedLeftNav-nav {
    align-self: center;
    padding: 30px 50px;
}

.fixedLeftNav-bottom {
    align-self: flex-end;
    padding: 30px 50px;
    width: 100%;
}

.displayNoneMobile {
    text-align: left;
}


/* Navbar */

.mobileMenu,
.logo {
    display: none;
}

#menu li {
    list-style-type: none;
    padding: 7px 0;
}

#menu li a {
    font-size: 1.1rem;
    color: #030303;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.fa-code-commit {
    transition: color 0.3s ease;
}

.hoverMenu {
    color: rgb(255, 106, 0) !important;
}

.hoverMenu a,
.hoverMenu .fa-code-commit {
    color: rgb(255, 106, 0) !important;
}

/* Footer */ 

footer .fa-brands:hover {
    color: rgb(255, 106, 0)!important;
}


/* Right column / MAIN */

#content {
    min-height: calc(100vh - 100px);
    margin-left: 35%;
    width: calc(65% - 50px);
    
}

#home,
#about,
#projects,
#contact {
    padding: 50px 20px 50px 20px;
    min-height: 80vh;
    /* border-bottom: 1px solid rgb(255, 106, 0); */
}

.align-right {
    float: right;
    margin: 10px 0 10px 20px;
}

.align-left {
    float: left;
    margin: 10px 20px 10px 0px;
}

.round {
    border-radius: 50%;
    width: 35%;
}

.round:hover {
    box-shadow: 0 0 30px #457032;
}

#home {
    display: grid;
    grid-template-columns: 1fr;
    align-items:center;
}

#icons {
    display: flex;
    justify-content: space-around;
    /* padding: 0 20%; */
    opacity: 0;
    transition: opacity 1s ease;
    flex-wrap: wrap;
    gap: 20px;
}

.icons-image {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 50px;
    margin-top: 100px;
}

.icons-image:hover {
    opacity: 1;
    transform: translateY(0) scale(1.2);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-card {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 30px;
    border-radius: 20px;
}

#about h2, #contact h2 {
    margin-bottom: 30px;
    background-color: rgba(255, 106, 0, 0.3);
        padding: 10px 20px;
        transform: skew(-10deg);
        display: inline-block;/
}
#about h3 {
    margin: 20px 0;
}

#about hr {
    margin: 20px 0;
}


/* Contact */
#contact p {
    text-align: center;
}

#contactMe {
  display: grid;
  grid-template-rows: repeat(3, auto);  
  gap:20px;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}

#contactMe input, #contactMe textarea {
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
}

#contactMe input:focus-visible,
#contactMe textarea:focus-visible {
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(255, 106, 0, 1);
}

#contactMe button {
    box-shadow: -3px -3px 10px #cbcbcb, 3px 3px 10px #cbcbcb;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 15px 60px;
    border: none;
    color: #333;
    border-radius: 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    max-width: 60%;
    margin: 0 auto;
}
#contactMe button:hover {
        box-shadow: -2px -2px 5px #fff, 2px 2px 5px #999;
    }

#contactMe button:active {
        box-shadow: inset 1px 1px 2px #999, inset -1px -1px 2px #fff;
    }

#contact .fa-brands:hover {
    color: rgb(255, 106, 0) !important;
}

#error {
    color: red;
}


#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* z-index: 99; */
    border: none;
    font-size: 1.3rem;
}
#scrollTopButton .fa-solid {
    color: #000;
}
#scrollTopButton .fa-solid:hover {
   color: rgb(255, 106, 0) !important;
}
    

/* LARGE and  XL */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 0.9rem;
    }

    p {
        line-height: 1.2rem;
        margin: 5px 0;
    }

    #menu li {
        padding: 4px 0;
    }

    #fixedLeftNav {
        max-width: calc(35% - 60px);
        min-height: calc(100vh - 60px);
    }

    #content {
        min-height: calc(100vh - 60px);
        margin-left: 35%;
        width: calc(65% - 60px);
    }
}


/* SMALL and MEDIUM */

@media only screen and (max-width: 991px) {

    * {
        cursor:alias;   
    }

    h1 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    #fixedLeftNav {
        width: calc(100% - 40px);
        padding: 10px 20px;
        min-height: auto;
        position: sticky;
        display: block;
        z-index: 999;
        background-color: #fff;
    }
    #home,
    #about,
    #projects,
    #contact {
        padding: 30px;
        min-height: 50vh;
    }

    .fixedLeftNav-nav {
        align-self: self-start;
        padding: 10px 30px;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .itemsMenu {
        display: none;
    }

    .mobileMenu {
        display: block;
        cursor: pointer;
    }

    .logo {
        display: block;
        font-size: 1.2rem;
        user-select: none;
        flex: 1;
        min-width: 50%;
    }

    .displayNoneMobile {
        display: none !important;
    }

    #content {
        min-height: auto;
        margin-left: auto;
        width: 100%;
    }

    .active {
        display: block;
        width: 80%;
    }

    #menu :nth-child(3) {
        margin-top: 20px;
    }
    .logo {
         color: rgb(255, 106, 0);
        font-weight: bold;
    }
    
    .logo-span {
        color: #000;
        font-size: 0.9rem;
    }

    #contactMe {
        max-width: 100%;
        padding: 20px;
    }
    #contactMe button {
    padding: 15px 60px;
    max-width: 100%;

    }

}

/* SMALL */

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1rem;
    }
    #icons {
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
    }
    .icons-image{
        width: 40px;
        margin-top: 30px;
    }
    .home-card {
        background-color: white;
        padding: 0;
    }

    .home-card .image {
        text-align: center;
    }

    .align-right {
        float: none;
        margin: 0px;
    }

    .align-left {
        float: none;
        margin: 0px;
    }
    #home {
        display: block;
    }
    .home-card .round {
        width: 300px;
    }

}

/* X-SMALL */

@media only screen and (max-width: 300px) {
    #fixedLeftNav {
        display: block;
    }

    .mobileMenu {
        position: relative;
        width: 100%;
    }

    #menu {
        padding: 0 20px 20px;
    }
    .round {
        width: 200px;
    }
    

}